.input {
    border-radius: 25px;
    background-color: lightgrey;
    padding: 20px;
    width: 200px;
    height: 150px;
    margin-right: 100px;
}

.output {
    border-radius: 25px;
    background-color: lightskyblue;
    padding: 20px;
    width: 200px;
    height: 150px;
}

.moreSpace{
    display: block; 
    margin-bottom: 4em;
}
